#  PYTHON DAY 05
### May 31 2019
### Topics
* Tuples
* dictionaries
* regular expressions
* linear and binary search
* date Arithmetic
* Iterations and Generators
* Functional Programming

### Python Tuples
* tuples are imutable --once a tuple is ddefined values cannot be changed ** ( )**
* we cannot modify data
* we can access them
* all accessinf anf srting slicing operations will work

In [1]:
t1= (1001,'name',72,90)

In [2]:
t1

(1001, 'name', 72, 90)

In [3]:
t1.append(89)# we cannot change elements or modify them

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
t1[0]

1001

In [5]:
t1[2:]

(72, 90)

In [31]:
s='python'
for i in s:
    print(i)

p
y
t
h
o
n

In [13]:
# now access all 2nd digits fron t2 tuple
t2=(123,456,543,234455)
print (str(t2[0])[1], str(t2[1])[1], str(t2[2])[1],str(t2[3])[1])

2 5 4 3

In [17]:
# define a function to calculate a Avarage of all elements in a tuple
def averageLinearDS(t):
    sum=0
    for i in range(0,len(t)):
        sum+= t[i]
    return sum/len(t)
averageLinearDS(t2)
    
li=[12,56,89,90,123]
averageLinearDS(li)

74.0

In [30]:
# short form of avg
#python recognize list strings and tuple as iterable objects
def averageLinearDS(t):
    sum=0
  #  for i in range(0,len(t)):
   #     sum+= t[i]
    for item in t:
        sum+=item
    
    return sum/len(t)
averageLinearDS(t2)

58894.25

### function to search in a linear Data Structure

In [24]:
def searchDS(ds,key):
    for i in range(0,len(ds)):
        if(ds[i]==key):
            return i
    return -1    
        
li=[12,56,89,90,123]
pos=searchDS(li,89)
print("found in ", pos)

found in  2

### function to identify maximum elemint in a DS as iterable object

In [34]:
def maxElementsDS(ds):
    m=0
    for item in ds:
        if item>m:
            m=item
    return m
maxElementsDS(li)

123

### python dictionaries
#### string  list [], tuples() and dictionaries(non linear){} are all data structuries in python
* to define {} to access all ds we use []
* to acess dic we need key
* All keys ina  dic are unique
* we can access values in dic with keys and revers possible
* dic are mutable,so they can be modified

In [45]:
d1={'name1':1234,'name2':7890,'name3':5678}
print(d1)
print(d1['name2'])
print(d1.keys())
print(d1.values())
d1['name4']=88775 #adding to dict
print(d1)
d1.pop('name4') #to remove key and value
print(d1)
#del d1     # to delete entire dic

{'name1': 1234, 'name2': 7890, 'name3': 5678}
7890
dict_keys(['name1', 'name2', 'name3'])
dict_values([1234, 7890, 5678])
{'name1': 1234, 'name2': 7890, 'name3': 5678, 'name4': 88775}
{'name1': 1234, 'name2': 7890, 'name3': 5678}

In [60]:
# contacts application
# display add, modify and delete contacts
contacts ={}
def addContact(d,name,phone):
    d[name]=phone
    return
#addContact(contacts,'name1',67876454)
def displayContacts(contacts):
    for name,phone in contacts.items():# list of tuples of all items
        print(name,":",phone)
    return    
def modifyContacts(contacts,name,newphone):
    contacts[name]=newphone
    return

In [65]:
addContact(contacts,'name1',89765)
addContact(contacts,'name2',78654)

In [66]:
displayContacts(contacts)

name1 : 89765
name2 : 78654

In [67]:
contacts.get('name1')

89765

In [68]:
modifyContacts(contacts,'name1', 12345)

In [69]:
displayContacts(contacts)

name1 : 12345
name2 : 78654

### idomatic practices
in pdf online

In [82]:
li3=[1,2,3,4]
li4=[6,7,3,9]
li3=list(reversed(li3))
#  we can also use  ite=reversed(li3)
#for i in ite:
print(li3)

[4, 3, 2, 1]

### enumarate 
to access index and value

In [76]:
enumerate(li3)
for i, value in enumerate(li3):
    print(i, ':', value)

0 : 4
1 : 3
2 : 2
3 : 1

In [88]:
zip(li3, li4)

<zip object at 0x000002AC6FAF3E88>

In [85]:
for i,j in zip(li3,li4):
    print(i,j)

4 6
3 7
2 3
1 9

In [86]:
for i,j in zip(li3,reversed(li4)):
    print(i,j)

4 9
3 3
2 7
1 6

###  Python Regular Expressions 
* [0-9] all digits1, 2,3 ,4,5
* [0,1,2,3,...9] all alphabest
* [a-z] RE for all lower case alphabest
* [A-Z] RE for all upper case alphabet
* [01] or [10] expression matching 
* to test the regular expression (https://www.regexpal.com/)

In [7]:
prog = re.compile(pattern)
result = prog.match(string)

[-9]

In [8]:
 import re
 m = re.search('(?<=abc)def', 'abcdef')
 m.group(0)
'def'

'def'

In [40]:
import re
>>> m = re.search('[A-Za-z0-9_.]{1,9}[@][a-z0-9]{1,9}[.][a-z]{3}', 'swapna_12@gamil.com')
>>> m.group(0)

'swapna_12@gamil.com'

In [34]:
import re
>>> m = re.search('^[6789]{1}[0-9]{9}$', '7337312678')
>>> m.group(0)

'7337312678'

In [41]:
 pattern = re.compile('^[a-zA-Z][a-z0-9_.]{5,14}[@][A-Za-z0-9]{3,12}[.][a-z]{2,3}$')
if(pattern.match("dog@gmail.com")):# Match at index 0
        print("match")

if(pattern.match("dog_123@gamil.com", 1)):
        print("match")
else:
        print("not match")

match
match

### defining a is match function

In [45]:
def ismatch(s):
    pattern = re.compile('^[a]..[a]$')
    if(pattern.match(s)):# Match at index 0
        print("match")
    else:
        print("notmatch")
ismatch("asda")

match

### Defining phone number validator

In [48]:
def phoneNumberValidator(phone):
    phone=str(phone)
    pattern='^[6-9][0-9]{9}$'
    if re.match(pattern,phone):
        return True

    return False
phoneNumberValidator(6345678800)

True

In [59]:
s1='Regular expressions can contain both special and ordinary characters. Most ordinary character are , the simplest regular expressions ,  they simply match themselves , You can concatenate ordinary characters,'

In [60]:
syllList= re.split('[,][\  ]',s1)
print(syllList)

['Regular expressions can contain both special and ordinary characters. Most ordinary character are ', 'the simplest regular expressions ', ' they simply match themselves ', 'You can concatenate ordinary characters,']

### date and times lib 
### ARITHAMETIC
#### refer:https://www.programiz.com/python-programming/datetime

In [62]:
import datetime
datetime.datetime.now()

datetime.datetime(2019, 5, 31, 17, 5, 39, 16899)

In [63]:
type(datetime.datetime.now())

datetime.datetime

In [74]:
now=datetime.datetime.now()
print(now.year)
print(now.month)
print(now.hour, now.minute, now. second)
print(now)
s=datetime.date.today()
print(s)

2019
5
17 12 22
2019-05-31 17:12:22.050503
2019-05-31

In [70]:
datetime.datetime.now().year

2019

In [80]:
#function to find difference between two given dates
#yyyy:mm:dd
import datetime
def dateDifference(date1,date2):
    year1=int(date1[:4])
    month1=int(date1[5:7])
    day1=int(date1[8:])
    year2=int(date2[:4])
    month2=int(date2[5:7])
    day2=int(date2[8:])
    d1=datetime.date(year1,month1,day1)
    d2=datetime.date(year2,month2,day2)
    return d2 - d1

In [82]:
print(dateDifference('2019:05:27','2019:06:01'))

5 days, 0:00:00

In [86]:
import calendar
calendar.isleap(2019)

False

In [87]:
def isLeap(year):
    if(year%4==0 and year%100!=0)or year%400==0:
        return True
    return False
isLeap(2020)

True

### iterators and Generators
#### find reference in    https://www.programiz.com/python-programming/generator

### List Comperhension

In [2]:
li=[1,2,3,4,5,6]
print(sum(li))
n=123
print(range(n))
sum(range(123))

21
range(0, 123)

7503

In [3]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
sum(list(range((9+1))))#Sum of n natural numberes

45

In [6]:
#calculate of square root of n natural numbers
from math import sqrt
def sqrtNnaturalNum(n):
    return[sqrt(i)for i in list(range(1,n+1))]
sqrtNnaturalNum(10)

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [7]:
#calculate sum of sqrt of n natural numbers
from math import sqrt
def sqrtNnaturalNum(n):
    return sum([sqrt(i)for i in list(range(1,n+1))])
sqrtNnaturalNum(10)

22.4682781862041

In [8]:
# calculate square of each value in the list
def squareListEle(li):
    return[i**2 for i in li]
squareListEle(li)

[1, 4, 9, 16, 25, 36]

In [9]:
#design a function using list comperhension to identify all values divided by 9
li=list(range(1,50))
def divisible9(li):
    return[i for i in li if i%9==0]
divisible9(li)

[9, 18, 27, 36, 45]

In [12]:
li=list(range(1979,2019))
def leapinli(li):
    return[i for i in li if(i%4==0and i%100!=0)or(i%400==0)]
leapinli(li)

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

### MAPS
#### functions and  ierators are passsed as parameters

In [18]:
# function to calculate cubes of all numbers in a list
li=[1,2,3,4,5,6]
def cube(n):
    return n**3
print(list(map(cube,li)))
print(len(list(map(cube,li))))
print(sum(list(map(cube,li))))
li=[7,8,9,10]
print(sum([cube(i)for i in li]))

[1, 8, 27, 64, 125, 216]
6
441
2584

In [ ]:
# function to convert number into words